*.iml
TestApp/.gradle
/local.properties
TestApp/.idea
TestApp/gradle
TestApp/.gradle
TestApp/build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
TestApp/build.gradle
TestApp/gradle.properties
TestApp/gradlew
TestApp/gradlew.bat
TestApp/local.properties
TestApp/settings.gradle